# Group Anagrams

 - Problem: Given an array of strings strs, group the anagrams together. You can return the answer in any order.

```Plaintext

Example 1:
Input: strs = ["eat","tea","tan","ate","nat","bat"]
Output: [["bat"],["nat","tan"],["ate","eat","tea"]]
Explanation: There is no string in strs that can be rearranged to form "bat".
The strings "nat" and "tan" are anagrams as they can be rearranged to form each other.
The strings "ate", "eat", and "tea" are anagrams as they can be rearranged to form each other.

Example 2:
Input: strs = [""]
Output: [[""]]

Example 3:
Input: strs = ["a"]
Output: [["a"]]
```

## Solution 1: Using Dict + Set

In [2]:
set("nat") #== set("tan")

{'a', 'n', 't'}

In [2]:
a = ["eat","tea","tan","ate","nat","bat"]
m = dict.fromkeys(a)

In [ ]:
for i in m.keys():

{'eat': None, 'tea': None, 'tan': None, 'ate': None, 'nat': None, 'bat': None}

In [4]:
"".join(set("tan"))

'ant'

In [7]:
a = ["eat","tea","tan","ate","nat","bat"]
d = {}
for i in a:
    if "".join(set(i)) not in d:
        d["".join(set(i))] = [i]
    else:
        d["".join(set(i))].append(i)

In [8]:
d

{'aet': ['eat', 'tea', 'ate'], 'ant': ['tan'], 'nat': ['nat'], 'abt': ['bat']}

In [9]:
list(d.values())

[['eat', 'tea', 'ate'], ['tan'], ['nat'], ['bat']]